
<ul class="list-group">
  <% @lines.each do |line| %>
      <a href=<%= line_name_path(line.name)%> class="list-group-item" >
        <span style="border-left: 6pt solid <%= line.mark_color %>;
            border-radius: 4pt;
            margin-right: 6pt;"></span>
        <span class="badge"><%= "共 #{line.stops.count} 站" %></span>
        <%= "#{line.name} 号线" %>
      </a>
  <% end %>
</ul>