<% content_for :title, "#{@line.name}号线" %>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>符号</th>
    <th>含义</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
            <span class="font-large">
              <%= link_to("上海地铁", '#') %>
            </span>
    </td>
    <td>
      该线 站内有厕所
    </td>
  </tr>
  <tr>
    <td>
      <span class="font-tiny">上海地铁</span>
    </td>
    <td>
      无重要信息
    </td>
  </tr>
  <tr>
    <td>
      <%= fa_icon('exchange') %>
          <span class="font-tiny">
            <%= link_to("上海地铁", '#') %>
          </span>
    </td>
    <td>
      需要换乘到其他线 站内有厕所
    </td>
  </tr>
  <tr>
    <td>
      <%= fa_icon 'refresh' %>
      (
      <span class="font-tiny">
      <%= link_to '1号线', '#' %>
      <%= link_to '2号线', '#' %>
      </span>
      )
    </td>
    <td>
      换乘站 可换乘
    </td>
  </tr>
  </tbody>
</table>

<h1 style="border-bottom: 4pt solid <%= @line.mark_color %>"><%= @line.name %>号线</h1>

<ul>
  <% @stops.each do |stop| %>
      <li>
        <p>

          <% unless stop.toilets.empty? %>
            <span class="font-large">
              <%= link_to("#{stop.name}", stop_name_path(stop.name)) %>
            </span>
          <% else %>
            <% unless stop_has_toilets_at_other_line?(stop) %>
              <%= fa_icon('exchange') %>
              <span class="font-tiny">
              <%= link_to("#{stop.name}", stop_name_path(stop.name)) %>
              </span>
            <% else %>
              <span class="font-tiny">
                <%= stop.name %>
              </span>
            <% end %>
          <% end %>

          <% if exchange_stop?(stop) %>
              <%= fa_icon 'refresh' %>
              (
              <% exchangeable_lines(stop).each do |line| %>
                <span class="font-tiny">
                <%= link_to "#{line.name}号线", line_name_path(line.name) %>
                </span>
              <% end %>
              )
          <% end %>
        </p>

      </li>
  <% end %>
</ul>