<h1>Dashboard Index</h1>

<p>
  Current user : <%= current_user.name %>
  <%= link_to 'logout', session_path(current_user.id), method: :delete, data: {confirm: 'are u sure?'} %>
</p>

<ul>
  <li>
    <%= link_to 'Lines', dashboard_lines_path %>
  </li>
  <li>
    <%= link_to 'Toilets', dashboard_toilets_path %>
  </li>
  <li>
    <%= link_to 'Feedback', dashboard_feedbacks_path %>
  </li>
  <li>
    <%= link_to 'Write log', dashboard_toilets_path %>
  </li>
</ul>