<% content_for :title, "Login Page" %>

<h1>Login</h1>


<%= form_for :user, url: sessions_path do |f| %>
<div class="form-group">
  <label>Username</label>
  <%= f.text_field :name, class: 'form-control' %>
</div>
<div class="form-group">
  <label>Password</label>
  <%= f.password_field :password, class: 'form-control' %>
</div>
  <%= f.submit 'Login', class: 'btn btn-primary btn-block' %>
<% end %>
