<h1>Feedbacks</h1>

<p>
  <%= "Current No Feedback!" unless @feedbacks.count.nil? %>
</p>
<ul>
  <% @feedbacks.each do |feedback| %>
      <li>
      <div style="border: 1px solid #ccc">

        <% if feedback.title %>
            <p>Title: <%= feedback.title %></p>
        <% end %>
        <% if feedback.contact %>
            <p><%= feedback.contact %></p>
        <% end %>
        <p>
          <%= raw(feedback.content) %>
        </p>
      </div>
        <%= (feedback.created_at) %>
        <%= link_to fa_icon('trash'), dashboard_feedback_path(feedback), method: :delete, data: {confirm: 'are u sure?'} %>
      </li>
      <hr>
  <% end %>
</ul>
