<h1>上海地铁 Lines</h1>

<ul>

  <% @lines.each do |line| %>
    <li>
      <%= link_to( "#{line.name}号线", dashboard_line_path(line)) %>
      <%= link_to fa_icon('trash'), dashboard_line_path(line), method: :delete, data: {confirm: 'are u sure?'} %>
    </li>
  <% end %>
</ul>


<%= form_for :line, url: dashboard_lines_path do |f| %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>
