<%= link_to 'All lines', dashboard_lines_path %>
<h1>Line: <%= @line.name %></h1>

<ul>
  <% @stops.each do |stop| %>
      <li>
        <p>
          <%= fa_icon('exchange') if exchange_stop?(stop) %>
          <% unless stop.toilets.empty? %>
            <span style="font-size: 20px;">
              <%= link_to("#{stop.name}", dashboard_stop_name_path(stop.name)) %>
            </span>
          <% else %>
              <%= fa_icon('home') unless stop_has_toilets_at_other_line?(stop) %>
              <span style="font-size: 10px; margin: auto;">
              <%= link_to("#{stop.name}", dashboard_stop_name_path(stop.name)) %>
            </span>
          <% end %>
        </p>

      </li>
  <% end %>
</ul>

<p>可以创建 站</p>

<%= form_for :stop, url: dashboard_stops_path do |f| %>
    <%= hidden_field :line, :id %>
    <%= f.text_field :name %>
    <%= f.submit %>
<% end %>
