<%= link_to 'Back', dashboard_lines_path %>

<h1>Stop: <%= @stop_name %></h1>

<% @lines.each do |line| %>
    <%= link_to "#{line.name}号线", dashboard_line_path(line) %>
<% end %>

<ul>
  <% @toilets.each do |toilet| %>
      <li>
        <%= toilet.line.name + "号线" %>
        <%= toilet.description %>
      </li>
  <% end %>
</ul>

<p>可以创建 厕所</p>

<%= form_for :toilet, url: dashboard_toilets_path do |f| %>
    <%= hidden_field_tag 'stop_name', @stop_name %>
    <%= select_tag :line_id, options_from_collection_for_select(@lines, "id", "name")%>
    <%= f.text_field :description %>
    <%= f.submit %>
<% end %>
