<h1>Register</h1>

<%= form_for @user do |f| %>
  <div class="form-group">
    <label>Name</label>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <label>Password</label>
    <%= f.password_field :password, class: 'form-control' %>
  </div>
  <%= f.submit 'register', class: 'btn btn-primary btn-block' %>
<% end %>
