<h1>All Toilets</h1>



<%= form_for :log, url: logs_path do |f| %>
    <div class="form-group">
      <label for="">Title</label>
      <%= text_field_tag 'log[title]', value = "#{Time.now.strftime("%Y-%m-%d %H:%M")}", class: 'form-control' %>
    </div>
    <div class="form-group">
      <label for="">Content</label>
      <%= f.text_area :content, class: 'form-control toilet-textarea' %>
    </div>
    <%= f.submit class: 'btn btn-primary' %>
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Line</th>
      <th>Stop</th>
      <th>Stop ID</th>
      <th>Description</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @toilets.each_with_index do |toilet, i| %>
        <tr>
          <td><%= i + 1 %></td>
          <td><%= toilet.line.name %></td>
          <td><%= toilet.stop.name %></td>
          <td><%= toilet.stop_id %></td>
          <td><%= toilet.description %></td>
          <td><%= link_to fa_icon('edit'), '#' %></td>
          <td><%= link_to fa_icon('trash-o'), dashboard_toilet_path(toilet.id), method: :delete, data: {confirm: 'are u sure?'} %></td>
        </tr>
    <% end %>
  </tbody>
</table>
