<% content_for :title, "#{@stop_name}" %>

<%= link_to 'Back', :back %>

<h1><%= @stop_name %> 站
  <% if special_stop? @stop_name %>
      <sub style="color: darkred;" class="font-tiny">
        <%= fa_icon 'exclamation-triangle' %>
        <%= "#{@stop_name} 不是换乘站" %>，


        <% lines_of_stop(@stop_name).each do |line| %>
            <%= link_to "#{line.name}号线", line_name_path(line.name) %>
        <% end %>

        都有 <%= @stop_name %> 站，注意分辨

      </sub>
  <% else %>
      <sub style="font-size: 12px;">
        <%= fa_icon 'refresh' if lines_of_stop(@stop_name).count > 1 %>
        (
        <% lines_of_stop(@stop_name).each do |line| %>
          <%= link_to "#{line.name}号线", line_name_path(line.name) %>
        <% end %>
        )
      </sub>
  <% end %>
</h1>

<ul class="list-group">
  <% @toilets.each do |toilet| %>
      <li class="list-group-item">
        <%= link_to "#{toilet.line.name}号线", line_name_path(toilet.line.name) %>
        <%= fa_icon 'map-marker' %>
        <%= toilet.description %>
      </li>
  <% end %>
</ul>

<p>
  <%= fa_icon 'bug' %>
  <%= link_to '勘误', new_feedback_path + "?title=勘误-#{@stop_name}" %>
</p>