<% content_for :title, "首页" %>

<%= image_tag('sh_metro.jpg', width: 200) %>
<hr>

<h4>地铁站内厕所索引  </h4>
<sub>总共有 <strong><%= @toilets.count %></strong> 处站内厕所</sub>
<hr>
<div>
  <form action="" style="display: flex;">
    <input class="form-control" type="text" placeholder="几号线？站名?">
    <button type="submit" style="margin-left: 8pt;" class="btn btn-primary" onclick="(
        function(event){
            event.stopPropagation();
            event.preventDefault();
            var val = event.target.previousElementSibling.value.trim();

            if (val == '') return false;

            isNaN(parseInt(val)) ?
                window.location.assign('/stops/'+val) :
                window.location.assign('/lines/'+val);
            }
        )(event)">直达</button>
  </form>
</div>
<div style="margin: 6pt 0">或者</div>
<div>
  <%= link_to '浏览所有线路', lines_path, class: 'btn btn-primary' %>
</div>

<br>