<p>
  如您发现数据错误、任何意见或建议，欢迎留言联系。对您提供的有益信息，我们会第一时间更新。
</p>
<p>
  若给您带来不便，希望谅解。若对您有所帮助，谢谢您的支持！
</p>

<h1>勘误与反馈</h1>



<%= form_for :feedback, url: feedbacks_path, html: {id: 'feedback-new-form'} do |f| %>
    <div class="form-group">
      <label for="">联系方式</label>
      <%= f.text_field :contact, class: 'form-control', placeholder: '可不填' %>
    </div>
    <div class="form-group">
      <label for="">描述</label>
      <%= f.text_area :content, class: 'form-control', placeholder: '说说你的问题', style: 'resize: vertical;' %>
    </div>
    <div class="form-group">
      <%= rucaptcha_input_tag(class: 'form-control', placeholder: '验证码') %>
      <%= rucaptcha_image_tag(alt: '验证码，点击刷新', id: 'feedback-rucaptcha', style: 'cursor: pointer') %>
      <span><sub>点击图片可刷新验证码</sub></span>
    </div>
    <%= f.submit class: 'btn btn-primary', value: '发送' %>
<% end %>

<br>