<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <title><%= page_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <!--link css-->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!--<div class="container">-->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">上海地铁</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
              <%= link_to "线路", lines_path, class: 'navbar-link' %>
            </li>
            <li>
              <%= link_to "勘误与反馈", new_feedback_path, class: 'navbar-link' %>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to '关于', about_path %>
            </li>
          </ul>
        </div>

      </div>
    </nav>

  <!--</div>-->

    <div class="container">

      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <%= value %>
        </div>
      <% end %>

      <%= yield %>

      <p class="text-left">
        &copy; 2017 made with <%= fa_icon 'heart', style: 'color: #F44336' %>
        <%= link_to '反馈', new_feedback_path %>
        <%= link_to '关于', about_path %>
      </p>
    </div>

    <!--<br>-->
    <!--<%= debug(params) if Rails.env.development? %>-->
  </body>

  <!--javascript-->
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</html>
